/* Header */

.header {
    width: 1220px;
    height: 65px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 53px;
    /* position: fixed; */
}

.logo{
    margin-right: 195px;
    vertical-align: middle;
}

.navigation-block {
    display: inline-block;
    vertical-align: middle;
    align-items: center;
}

.li-item {
    display: inline-block;
}

.nav-a-item {
    margin-right: 40px;
    font-family: 'Inter-Regular';
    font-size: 18px;
    line-height: 21.78px;
    color: #37393F;
}

.button{
    border: none;
    color: white;
    padding: 21px 35px 22px 35px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    background-color: #6B77E5;
    font-family: 'Cabin';
}

/* ar gamomrches:
1. fixed header
2. fonts
 */


/* Section1 */

.section1{
    width: 1220px;
    margin-top: 136px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.title1{
    color: #37393F;
    font-size: 18px;
    line-height: 21.78px;
    font-family: 'Inter-Medium';
}

.title2 {
    color: #37393F;
    font-size: 40px;
    line-height: 48.4px;
    font-family: 'Poppins-Bold';
    margin-top: 16px;
}

.section1-wrapper {
    display: flex;
    margin-top: 41px;
}

.section1-box {
    width: 386px;
    height: 383px;
    background-color: #F4F4F4;

}

.active-box {
    margin-right: 31px;
}

.title3 {
    color: #37393F;
    font-size: 25px;
    line-height: 31.75px;
    font-family: 'Poppins-SemiBold';
    margin-top: 58px;
}

.section1-text {
    color: #7D7D7D;
    font-size: 18px;
    line-height: 26.31px;
    font-family: 'Inter-Regular';
    margin: 16px 43px 37px;
    width: 300px;
    text-align: center;
}

.title4 {
    color: #6B77E5;
    font-size: 18px;
    line-height: 21.78px;
    font-family: 'Inter-SemiBold';
    margin-top: 37px;
    margin-bottom: 10px;
}

.icon-bg-1 {
    background-color: #40DDB6;
    width: 72px;
    height: 72px;
    border-radius: 100px;
    margin: 0 157px;
}

.icon-bg-2 {
    background-color: #6B77E5;
    width: 72px;
    height: 72px;
    border-radius: 100px;
    margin: 0 157px;
}

.icon {
    margin: 14.5px;
}

/* Section2 */

.section2 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 130px;
}

.section2-wrapper {
    display: inline-block;
}

.section2-text {
    width: 511px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 21px;
}

.section2-image-bg {
    background-color: #6B77E5;
    width: 64.5px;
    height: 64.5px;
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 47px;
}

.section2-image {
    margin: 17.11px 21.08px 23.08px;
}

/* section3 */

.section3 {
    text-align: center;
    width: 1220px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 131px;
}

.section3-wrapper {
    display: flex;
    margin-top: 41px;
}

.section3-box {
    position: relative;
}

.section3-in-box {
    position: absolute;
    background-color: #FFFFFF;
    width: 341px;
    height: 114px;
}

.section3-text {
    color: #7D7D7D;
    font-size: 18px;
    line-height: 24.33px;
    font-family: 'Inter-Regular';
    margin-top: 4px;
}
